<!doctype html>
<html>
  {% include head.html %}
  <head>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="../css/pricing.css" rel="stylesheet">
  </head>

  <body>
    {% include header.html %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Aska</h1>
      <p class="lead">Graph-based open-ended survey framework</p>
<!--       <button type="button" class="btn btn-outline-dark btn-lg">voteclustering v0.5</button>
      <button type="button" class="btn btn-primary btn-lg">Aska v0.1</button> -->
      <div class="row">
      <img class="mb-6" src="../images/voteimage.svg" class="img-fluid" alt="voteclustering image" width="800" height="400">
      </div>
    </div>


<div class="container">

<p>
  Aska is an open-ended survey framework. 
  Respondents can post their own opinions and select the opinions of others that they support. 
  The collected responses constitute a graph, and the responses are classified into groups using graph clustering algorithms.
</p>


<!-- <h2>Free trial</h2>
<p>
Aska is currently a beta version. 
If you are interested in using Aska, please let us know. 
</p>

<p>
<a href="mailto:request@voteclustering.org">request@voteclustering.org</a>
</p>

<ul>
<li>The trial is (currently) free of charge.</li>
<li>You propose us survey questions, we give you a link to the corresponding survey. (The link will be active only during the survey period.)</li>
<li>We cannot promise you to accept your proposal.</li>
</ul>
 -->

<!--   <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Free</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>10 users included</li>
          <li>2 GB of storage</li>
          <li>Email support</li>
          <li>Help center access</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Pro</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>20 users included</li>
          <li>10 GB of storage</li>
          <li>Priority email support</li>
          <li>Help center access</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Enterprise</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>30 users included</li>
          <li>15 GB of storage</li>
          <li>Phone and email support</li>
          <li>Help center access</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
      </div>
    </div>
  </div>
 -->

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><p class="text-muted">This website and the surveys in this website are maintained by Aska project team. </p></li>
          <li><p class="text-muted">
            Aska project team is composed of researchers as individuals, aiming to further develop the graph-based open-ended survey framework. 
            The primary purpose of each survey is to examine the performance of the survey framework. 
            Aska project team is currently not funded by or conducting surveys on behalf of any organizations.
        </p></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Technical details</h5><!-- <h5>Citation</h5> -->
        <ul class="list-unstyled text-small">
          <li>
          <!-- <p class="text-muted">Please cite this paper when you use Aska for academic purposes：</p> -->
          <p>Details of the survey framework can be found in the following paper:</p>
          <a class="text-muted" href="https://www.nature.com/articles/s42256-019-0071-y">Tatsuro Kawamoto and Takaaki Aoki, "Democratic classification of free-format survey responses with a network-based framework," Nature Machine Intelligence (2019).</a></li>
        </ul>
      </div>
      <div class="col-12 col-md">
<!--         <img class="mb-2" src="/docs/4.2/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24"> -->
        <small class="d-block mb-3 text-muted">&copy; 2015-2020</small>
      </div>
    </div>
  </footer>
</div>
</body>
</html>
